:root {
    --cor-principal: #4f7097;
    --cor-secundaria:#8ab8ef;
}

.form {
    display: block;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.form_label,
.form_input {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.form_label {
    display: block;
    margin-bottom: 8px;
}

.form_input {
    outline: none;
    border: solid 2px var(--cor-principal);
    margin-bottom: 16px;
    padding: 12px;
}

.form_button {
    border: none;
    background-color: var(--cor-principal);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    padding: 12px;
    cursor: pointer;
}

.form_button:hover {
    background-color: var(--cor-secundaria);
}

.form_result {
    color: var(--cor-principal);
    font-size: 16px;
    font-weight: bold;
    margin-top: 16px;
    text-align: center;
}